@charset "utf-8";
/* Css Style */
body{
    margin: 0px;
    padding: 0px;
    /* background: linear-gradient(90deg, #b9bbca94, #d4d1c48e); */
    background-color: rgb(0, 0, 56);
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.toggle{
    display: none;
}
#main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #bdcdfd;
    position: relative;
    background: linear-gradient(90deg, #0c1fb3a9, #c7b45fab), url("../img/age11.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: rgb(0, 0, 56);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 999;
}


.togg{
  background: transparent !important;
}
.my_nav .fa{
  margin-right: 8px;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: orange;
    font-size: 12px;
}
.lang{
    color:orange;
}
/* .logo{
    font-size: 25px;
    font-weight: bold;
    color: #292929;
    font-family: Poppins;
} */
.menu li a:hover,
.active{
    background-color: orange;
    color: darkblue !important;
    font-weight: 700;
    transition: all ease 0.4s;
}
.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
}
.name p:nth-child(1),
.name .details{
    color: #6c707c;
    font-size: 16px;
}
.name h1{
    font-family: Poppins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}
.cv-btn{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color:darkblue;
}
.cv-btn:hover{
    background-color: #17d1ac;
    transition: all ease 0.5s;
}
.social{
    position: absolute;
    left:50px;
    bottom: 50px;
    display: flex;
}
.social a{
    margin: 6px 12px;
}
.social i{
    color:rgba(18,17,17,0.4);
    font-size: 14px;
}
.social a:hover i{
    color:#17d1ac;
    transition: all ease 0.5s;
}
.arrow{
    align-self:end;
    width: 50%;
    height: 15%;
    margin-bottom: 4em;
    position: relative;
    bottom: 0px;
    left: -3%;
    border-right: 1px solod rgba(41, 41, 41, 0.3);
}
.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style:solid;
    border-width: 1p1px 11px ;
    border-color: #292929 transparent transparent transparent;
    right: -0.7em;
    bottom: -7px;
}
.post_main{
    background: linear-gradient(90deg, #9e8824b7, #9b7e00d2),  url('../img/Age_logo.jpg') no-repeat;
    background-size: cover;
    padding: 2%;
}
.box{
    width: 450px;
    background-color: orange;
    padding: 40px;
    border-radius: 5%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    color: white;
    font-family: 'Segoe UI';
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
}
.box_img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
#about{
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    height:100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}
.about-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:50%;
}
.about-text h1{
    font-size: 5rem;
    color: orange;
}
.about-text h2{
    font-size: 3rem;
    color: orange;
    font-weight: 400;
}
.about-text h1, h2{
    margin: 0px;
    padding: 0px;
}
.about-text p{
    font-size: 1.2rem;
    color: orange;
}
#text4{
    display: none;
    font-size: 1.2rem;
    color: orange;
}
#toogle4{
    /* border: blanchedalmond; */
    /* width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none; */
    background-color: orange ;
}
.about-text button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: orange ;
}
.about-text button:hover{
    background-color: orange;
    transition: all ease 0.5s;
}
#services{
    width:100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.s-heading h1{
    color: orange;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}
.s-heading p{
    color: orange;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
.s-heading{
    text-align: center;
    margin: 20px 0px;
}
.s-box{
    background-color: #2b2b2b;
    width: 350px;
    height: 510px;
    margin: 7px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    position: relative;
}
.s-b-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-b-img{
    width: 100%;
    height: 70%;
}
.s-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.s-b-text{
    width: 100%;
    height: 31%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-b-text a{
    margin: 0px;
    color: darkblue;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp:4 ;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.s-type{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
    background-color: orange;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
}
.s-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
.s-b-text:hover{
    color: rgba(255, 255, 255, 0.50);
}
#portfolio{
    width: 100%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 2% 20px 2%;
}
.p-heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    color: darkblue;
    font-weight: 400;
    padding: 10px 20px;
    background-color: orange;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}
.p-box{
    background-color: #1f1f1f;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgb(0, 0, 0);
    position: relative;
}
.p-b-container{
    width: 90%;
    height: 70vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.text-overlay{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: orange;
    display: none;
}
.text-overlay h1, p{
    color: darkblue;
}
.text-overlay h1{
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
}
.text-overlay p{
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
}
.p-box:hover .text-overlay{
    display: flex;
}
.p-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#contact-btn h1{
    font-size: 2rem;
    color: #1e1e1e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;
    border-bottom: 2px solid #1e1e1e;
}
#contact-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f4f7ff;
    margin: 20px 0px;
    box-sizing: border-box;
    box-shadow: 2px 0px 20px rgb(0, 0, 0);
}
#contact-btn a{
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: #1e1e1e;
    box-shadow: 2px 5px 6px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-btn a:hover{
    background-color: #17d1ac;
    color: #000000;
    transition: all ease 0.5s;
    font-weight: 700;
}
#contact-form{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-form form{
    display: flex;
    width: 70%;
    height: 60vh;
    background-color: #1a1a1a;
    box-shadow: 2px 12px 20px rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.01);
}
.contact-left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-right{
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255, 255, 255, 0.08);
}
.c-l-heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
}
.success, .error{
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}
.success {
    background: green;
}

.error{
    background: red;
}
.f-email,.f-name{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.f-email font,
.f-name font{
    color: #bfbfbf;
    font-size: 22px;
}
.f-email input,
.f-name input{
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #929292;
    color: #FFFFFF;
    margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder{
    opacity: 0.5;
    letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus{
    border-bottom: 1px solid #17d1ac;
    transition: all ease 0.5s;
}
.message font{
    font-size: 18px;
    color: #4e4e4e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.message{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.contact-right textarea{
    width: 100% !important;
    height: 280px !important;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #ebebeb;
    font-size: 16px;
}
.contact-right textarea::placeholder{
    color: #ebebeb;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-right button{
    width: 100%;
    height: 50px;
    background-color: #1ed98b;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 0px;
    color: #1b1b1b;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
@media(max-width:1190px){
    #main{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background-color: #bdcdfd;
        position: relative;
        background: linear-gradient(90deg, #0c1fb3a9, #c7b45fab), url("../img/age11.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: right center;
        /* background-size: 1150px; */
    }
    .post_main{
        background: linear-gradient(90deg, #9e8824b7, #9b7e00d2),  url('../img/Age_logo.jpg') no-repeat;
        padding: 2%;
        background-size: 1150px;
    }
    .box{
        width: 400px;
        padding: 30px;
        margin: auto;
        margin-top: 5%;
    }
    #about{
        margin-top: 300px;
        margin-bottom: 300px;
        width: 100%;
        height:100vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 5% 0px 5%;
    }
    .name{
        left: 10%;
        top: 50%;
        transform: translate(-10%, -50%);
    }
    .about-model img{
        height: 400px;
    }
    #services{
        height: auto;
    }
    .s-b-container{
        flex-wrap: wrap;
    }
    .s-box{
        flex-grow: 1;
    }
    .s-b-text{
        text-align: center;
    }
    #contact-form form{
        width: 95% !important;
    }
}
@media(max-width:970px){
    #main{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background-color: #bdcdfd;
        position: relative;
        background: linear-gradient(90deg, #0c1fb3a9, #c7b45fab), url("../img/age11.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: right center;
        /* background-size: 1150px; */
    }
    /* #main{
        background-image: none !important;
    } */
    .box{
        width: 300px;
        padding: 15px;
        margin: auto;
        margin-top: 5%;
    }
    .box_img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    #about{
        margin-top: 250px;
        margin-bottom: 250px;
        width: 100%;
        height:100vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 5% 0px 5%;
    }
    .name{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .about-model img{
        display: none;
    }
    #about{
        justify-content: center;
        padding-top: 0px;
    }
    .about-text{
        width: 90%;
    }
    .about-text h1{
        font-size: 4rem;
    }
    .p-b-container{
        width: 100%;
    }
}
@media(max-width:900px){
    #main{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background-color: #bdcdfd;
        position: relative;
        background: linear-gradient(90deg, #0c1fb3a9, #c7b45fab), url("../img/age11.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: right center;
        /* background-size: 1150px; */
    }
    .box{
        width: 300px;
        padding: 20px;
        margin: auto;
        margin-top: 5%;
    }
    .box_img{
        border-radius: 50%;
        width: 125px;
        height: 125px;
    }
    #about{
        margin-top: 200px;
        margin-bottom: 200px;
        width: 100%;
        height:100vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 5% 0px 5%;
    }
    .toggle{
        display: block;
    }
    .toggle:before{
        content: \f0c9;
        font-family: fontAwesome;
        line-height: 0px;
        margin-left: -35px;
    }
    .toggle.active:before{
        content: '\f00d';
    }
    /* nav{
        padding: 10px 30px;
    }
    nav ul{
        position: absolute;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        background-color: #0f0f0f;
        top: 50px;
        left: 0;
        transition: 0.5s;
        overflow: hidden;
        border: 3px solid #1f1f1f;
        display: none !important;
        margin: 0px ;
        padding: 0px ;
    }
    nav ul li a{
        border-bottom: 1px solid rgba(255,255,255,0.10);
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px !important;
        padding: 0px !important;
    } */
    .active-menu{
        display: block !important;
    }
    .p-b-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        height: auto;
        grid-gap: 10px;
    }
    #contact-btn h1{
        font-size: 1.4rem;
        text-align: center;
    }
    #contact-form{
        padding: 20p;
        height: auto;
        box-sizing: border-box;
    }
    #contact-form form{
        flex-direction: column;
        height: auto;
        padding: 20px;
        width: 90% !important;
    }
    .contact-left,
    .contact-right{
        width: 100%;
        border: none;
    }
    .f-email,
    .f-name{
        width: 100%;
    }
    .f-email input,
    .f-name input{
        width: 100%;
        border: none;
        background-color: #262626 !important;
        padding: 10px;
        box-sizing: border-box;
        height: 40px;
    }
    textarea{
        background-color: #262626 !important;
        margin: 10px 0px;
        padding: 10px;
        height: 200px !important;
        width: 100% !important;
    }
    .message{
        margin: 0px;
    }
    #contact-form form h1{
        margin: 5px 0px;
    }
}
@media(max-width:600px){
    #main{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background-color: #bdcdfd;
        position: relative;
        background: linear-gradient(90deg, #0c1fb3a9, #c7b45fab), url("../img/age11.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: right center;
        /* background-size: 1150px; */
    }
    .box{
        width: 250px;
        padding: 10px;
        margin: auto;
        margin-top: 5%;
    }
    .box_img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    #about{
        margin-top: 400px;
        margin-bottom: 400px;
        width: 100%;
        height:100vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 5% 0px 5%;
    }
    .p-b-container{
        grid-template-columns: 1fr;
    }
    #contact-btn h1{
        font-size: 1.2rem;
        margin: 0px 10%;
    }
    .name{
        width: 60%;
    }
    .arrow{
        margin-bottom: 20px;
    }
    .social{
        left: 30px;
        transform: translateX(-10px);
    }
}
@media(max-width:400px){
    #main{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background-color: #bdcdfd;
        position: relative;
        background: linear-gradient(90deg, #0c1fb3a9, #c7b45fab), url("../img/age11.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: right center;
        /* background-size: 1150px; */
    }
    .post_main{
        background: linear-gradient(90deg, #9e8824b7, #9b7e00d2),  url('../img/Age_logo.jpg') no-repeat;
        padding: 2%;
        background-size: 400px 200px;
    }
    .box{
        width: 200px;
        padding: 10px;
        margin: auto;
        margin-top: 5%;
    }
    .box_img{
        border-radius: 50%;
        width: 75px;
        height: 75px;
    }
    .s-box{
        width: 100%;
        height: 400px;
    }
    #about{
        margin-top: 500px;
        margin-bottom: 500px;
        width: 100%;
        height:100vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 5% 0px 5%;
    }
}
